// Courses

.modules {
  padding: 0;

  .title-heading {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.65);

    h1 {
      margin-bottom: 4rem;
    }
  }

  .title-heading:last-child {
    border-bottom: none;
    margin-bottom: 1.5rem;
  }
}
