/* CSS Document */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Nunito", sans-serif, sans-serif;
  font-size: 10px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif, sans-serif; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

section {
  padding: 5rem 0; }

.btn {
  background-color: #fef202;
  border-radius: 2rem;
  color: #323232;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 650ms;
  transition: color 650ms; }

.btn:hover {
  background-color: #548db8;
  color: #fafafa; }

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%), url("../images/code3-mobile.jpg") center no-repeat;
  background-size: cover;
  position: relative; }

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url("../images/wave-small.png") center no-repeat;
  background-size: cover; }

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%); }

.main-message h3 {
  font-size: 1.6rem; }

.main-message h1 {
  font-family: "Aldrich", sans-serif;
  font-size: 4rem;
  margin: 1rem 0; }

.main-message p {
  text-transform: initial; }

@media screen and (min-width: 350px) {
  .main-message {
    transform: translateY(40%); } }
@media screen and (min-width: 470px) {
  .hero::before {
    height: 9.4rem;
    background: url("../images/wave-medium.png");
    background-size: cover; } }
@media screen and (min-width: 890px) {
  .hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%), url("../images/code3-desktop.jpg") center no-repeat;
    background-size: cover;
    position: relative; }

  .main-message {
    transform: translateY(40%); }

  .title-heading h1 {
    font-size: 2.5rem; }

  .hero::before {
    height: 22.7rem;
    background: url("../images/wave-large.png");
    background-size: cover; } }
@media screen and (min-width: 1200px) {
  .hero {
    height: 85vh; } }
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.nav-brand {
  width: 5rem; }

.menu-icons i {
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer; }

.close i {
  color: #323232; }

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #fef202;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out; }

.nav-list.active {
  right: 0; }

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem; }

.nav-item {
  margin: 1.5rem 0; }

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7); }
  .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #000; }

@media screen and (min-width: 890px) {
  header {
    height: 8rem; }

  .nav-brand {
    width: 6rem; }

  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial; }

  .menu-icons {
    display: none; }

  .nav-item {
    margin: 0 2.5rem; }

  .nav-link,
  .current {
    color: #fafafa;
    position: relative;
    font-size: 1.3rem; }

  .nav-link::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    background-color: #fef202;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms; }

  .current::before {
    transform: scaleX(1); }

  .nav-link:hover::before {
    transform: scaleX(1); }

  .nav-link:hover {
    color: #fafafa; } }
section {
  padding: 5rem 0; }

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.title-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.7); }

.title-heading h3 {
  font-size: 1.4rem; }

.title-heading h1 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
  font-family: "Aldrich", sans-serif; }

.title-heading p {
  text-transform: initial; }

.experience-technology {
  padding: 0; }
  .experience-technology .title-heading {
    margin-bottom: 6rem; }
    .experience-technology .title-heading h1 {
      margin: 0.5rem 0 6rem; }
    .experience-technology .title-heading p {
      margin-bottom: 1rem; }

.application-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2.5rem; }

.application-grid-item .title-heading {
  margin-bottom: 1rem;
  color: #fafafa; }
  .application-grid-item .title-heading h1 {
    color: #fef202;
    margin-bottom: 1rem; }

.application-grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 0; }
  .application-grid-item ul {
    list-style-type: disc; }
    .application-grid-item ul a {
      color: #fff;
      font-weight: 700; }
      .application-grid-item ul a:hover, .application-grid-item ul a:focus, .application-grid-item ul a:active {
        color: #fef202; }

.application-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%);
  z-index: -1; }

.step-one {
  background: url("../images/button5.jpg") center no-repeat; }
  .step-one li {
    font-size: 1.3rem; }

.step-two {
  background: url("../images/button1.jpg") center no-repeat;
  /* MUST RESIZE */ }
  .step-two li {
    font-size: 1.3rem; }

.step-three {
  background: url("../images/button2.jpg") center no-repeat;
  /* MUST RESIZE */ }
  .step-three p {
    font-size: 1.4rem; }
  .step-three li {
    font-size: 1.3rem; }
  .step-three .btn {
    width: 60%; }

@media screen and (min-width: 420px) {
  .application-grid-item p {
    font-size: 1.5rem; }
  .application-grid-item li {
    font-size: 1.4rem; }
  .application-grid-item .btn {
    width: 40%; } }
@media screen and (min-width: 470px) {
  .application-grid-item p {
    font-size: 1.6rem; }
  .application-grid-item li {
    font-size: 1.5rem; }
  .application-grid-item .btn {
    width: 33%; } }
@media screen and (min-width: 616px) {
  .application-grid-item p {
    font-size: 1.4rem; }
  .application-grid-item li {
    font-size: 1.3rem; }
  .application-grid-item .btn {
    width: 65%; } }
.technologies {
  width: 100%;
  height: 90vh;
  background: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%), url("../images/development2-mobile.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative; }

.technologies::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url("../images/wave-small-reversed.png") center no-repeat;
  background-size: cover; }

.technology {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.technology-text-box {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative; }
  .technology-text-box .title-heading {
    color: #fafafa;
    padding-top: 4rem;
    margin-bottom: 0; }

.technology-text-box i {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #fef202;
  opacity: 0.5;
  z-index: -1; }

.technology ul {
  list-style: disc;
  padding: 30px 50px 0;
  text-align: left; }

.technology li {
  font-size: 1.4rem;
  padding-top: 0.5rem; }

@media screen and (min-width: 470px) {
  .technologies::before {
    height: 9.4rem;
    background: url("../images/wave-medium-reversed.png");
    background-size: cover; } }
@media screen and (min-width: 700px) {
  .technology-text-box {
    width: 75%;
    margin: 0 auto; }

  .technology li {
    font-size: 1.5rem;
    padding-top: 0.5rem; } }
@media screen and (min-width: 890px) {
  .technologies {
    width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%), url("../images/development2-banner.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative; }

  .technology {
    padding-top: 150px; }

  .technologies::before {
    height: 22.7rem;
    background: url("../images/wave-large-reversed.png");
    background-size: cover; }

  .technologies {
    height: 90vh; } }
@media screen and (min-width: 1200px) {
  .technology-text-box {
    width: 50%; } }
.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem; }

.journey-grid p {
  color: rgba(0, 0, 0, 0.7); }

.contact {
  padding: 0; }
  .contact .title-heading {
    margin-bottom: 6rem; }
    .contact .title-heading h1 {
      margin: 0.5rem 0 6rem; }
    .contact .title-heading p {
      margin-bottom: 1rem; }

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  padding-bottom: 2.5rem; }

.contact-grid-item .title-heading {
  margin-bottom: 1rem;
  color: #fafafa; }
  .contact-grid-item .title-heading h1 {
    color: #fef202;
    margin-bottom: 1rem; }

.contact-grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 0; }
  .contact-grid-item p {
    font-size: 1.6rem; }
  .contact-grid-item ul {
    list-style-type: none; }
    .contact-grid-item ul li {
      font-size: 1.4rem;
      padding-top: 0.5rem; }
    .contact-grid-item ul a {
      color: #fff;
      font-weight: 700; }
      .contact-grid-item ul a:hover, .contact-grid-item ul a:focus, .contact-grid-item ul a:active {
        color: #fef202; }

.contact-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(1, 61, 112, 0.9) 0%, rgba(0, 88, 137, 0.8) 100%);
  z-index: -1; }

.address {
  background: url("../images/button3.jpg") center no-repeat; }
  .address .btn {
    width: 100%; }

.details {
  background: url("../images/button8.jpg") center no-repeat;
  /* MUST RESIZE */ }

.links {
  background: url("../images/button7.jpg") center no-repeat;
  /* MUST RESIZE */ }
  .links ul {
    list-style: disc; }

input {
  width: 100%; }

.select {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  text-align: center; }
  .select input {
    padding: 0 0.5rem; }

input[type="submit" i] {
  background-color: #fef202;
  border-radius: 2rem;
  color: #323232;
  display: inline-block;
  margin-top: 0;
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 650ms;
  transition: color 650ms;
  width: 50%;
  border: none; }

input[type="submit" i]:hover {
  background-color: #548db8;
  color: #fafafa; }

#comments {
  width: 100%; }

.form-entry {
  background: url("../images/button6.jpg") center no-repeat;
  /* MUST RESIZE */
  padding-bottom: 4rem;
  margin-bottom: 3rem; }
  .form-entry .title-heading {
    margin-bottom: 0; }
  .form-entry form {
    margin: 0 auto;
    width: 90%; }
    .form-entry form .form-row {
      padding-top: 0.3rem; }

@media screen and (min-width: 380px) {
  .address .btn {
    width: 55%; } }
@media screen and (min-width: 555px) {
  .address .btn {
    width: 100%; }

  input[type="submit" i] {
    width: 65%; } }
@media screen and (min-width: 652px) {
  .address .btn {
    width: 55%; } }
@media screen and (min-width: 830px) {
  .contact-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "contact1 contact2 contact3" "form form form"; }
    .contact-grid .address {
      grid-area: contact1; }
    .contact-grid .details {
      grid-area: contact2; }
    .contact-grid .links {
      grid-area: contact3; }
    .contact-grid .form-entry {
      grid-area: form; }
      .contact-grid .form-entry form {
        width: 50%; }
      .contact-grid .form-entry input[type="submit" i] {
        width: 33%; }

  .form-entry {
    background: url("../images/button-rectangle2.jpg") center no-repeat; }

  .address .btn {
    width: 100%; } }
.modules {
  padding: 0; }
  .modules .title-heading {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.65); }
    .modules .title-heading h1 {
      margin-bottom: 4rem; }
  .modules .title-heading:last-child {
    border-bottom: none;
    margin-bottom: 1.5rem; }

.resources {
  padding: 0; }
  .resources .title-heading {
    margin-bottom: 0; }
  .resources .development {
    margin-top: 10rem; }
  .resources .resource {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .resources .resource img {
      width: 33%; }
    .resources .resource h4 {
      font-size: 2rem;
      margin: 2rem 2.5rem;
      font-family: "Aldrich", sans-serif; }
      .resources .resource h4 a {
        color: #013d70; }
        .resources .resource h4 a:hover, .resources .resource h4 a:focus, .resources .resource h4 a:active {
          color: #005889; }
  .resources .resource:last-child {
    border-bottom: none;
    margin-bottom: 1.5rem; }

@media screen and (min-width: 700px) {
  .resources .resource img {
    width: 25%; } }
@media screen and (min-width: 890px) {
  .resources .resource img {
    width: 20%; } }
#today {
  color: #005889;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem; }

.list-view .weekdays {
  display: none; }
.list-view li {
  border-radius: 0.2rem;
  padding: 1.56rem 1.88rem;
  justify-content: space-between;
  margin-bottom: 1.56rem;
  font-size: 1.1rem;
  display: block; }
.list-view .month {
  background-color: #005889;
  font-family: "Aldrich", sans-serif, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fafafa;
  position: --webkit-sticky;
  position: sticky;
  top: 0; }
.list-view .days .empty {
  display: none; }
.list-view .days .weekend {
  display: none; }
.list-view .days li {
  color: rgba(0, 0, 0, 0.7); }
  .list-view .days li p {
    font-family: "Nunito", sans-serif, sans-serif;
    font-size: 1.3rem; }
  .list-view .days li h4 {
    font-family: "Nunito", sans-serif, sans-serif;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: normal; }
  .list-view .days li h6 {
    font-family: "Nunito", sans-serif, sans-serif;
    padding-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: normal; }
.list-view .days li:nth-child(odd) {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }
.list-view .days li:nth-child(even) {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }
.list-view .toggle-btn {
  display: none; }

@media screen and (min-width: 700px) {
  .list-view .month li {
    text-align: center;
    font-size: 2.1rem;
    padding: 1.56rem 1.88rem;
    letter-spacing: 0.3rem; }
  .list-view .days li {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .list-view .days li h4 {
      padding-top: 0;
      flex-basis: 25%;
      font-size: 1.4rem; }
    .list-view .days li h6 {
      padding-top: 0;
      flex-basis: 25%; }
    .list-view .days li p {
      flex-basis: 15%;
      font-size: 1.4rem; }
  .list-view .toggle-btn {
    display: block;
    margin-bottom: 3rem;
    width: 33%; } }
#today {
  color: #005889;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem; }

.calendar-view .weekdays {
  display: none; }
.calendar-view li {
  border-radius: 0.2rem;
  padding: 1.56rem 1.88rem;
  margin-bottom: 1.56rem;
  display: block; }
.calendar-view .month {
  background: #005889;
  font-family: "Aldrich", sans-serif, sans-serif;
  font-size: 1.4rem;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  position: --webkit-sticky;
  position: sticky;
  top: 0; }
.calendar-view .days .empty {
  display: none; }
.calendar-view .days .weekend {
  display: none; }
.calendar-view .days li {
  color: rgba(0, 0, 0, 0.7); }
.calendar-view .days p {
  font-family: "Nunito", sans-serif, sans-serif;
  font-size: 1.3rem; }
.calendar-view .days h4 {
  font-family: "Nunito", sans-serif, sans-serif;
  padding: 1rem 0 0;
  font-size: 1.6rem;
  font-weight: normal; }
.calendar-view .days h6 {
  font-family: "Nunito", sans-serif, sans-serif;
  padding: 0.5rem 0 0;
  font-size: 1.4rem;
  font-weight: normal; }
.calendar-view .days li:nth-child(odd) {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }
.calendar-view .days li:nth-child(even) {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }
.calendar-view .toggle-btn {
  display: none; }

@media screen and (min-width: 700px) {
  .calendar-view .weekdays {
    display: flex;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #ddd;
    position: --webkit-sticky;
    position: sticky;
    top: 8rem; }
    .calendar-view .weekdays li {
      display: inline-block;
      width: 13.6%;
      text-align: center; }
  .calendar-view li {
    margin-bottom: 0; }
  .calendar-view .month {
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 0.3rem;
    margin: 1rem 0 0; }
  .calendar-view .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 10px 0;
    background-color: #eee;
    margin: 0; }
    .calendar-view .days .empty {
      display: block; }
    .calendar-view .days .weekend {
      display: block; }
    .calendar-view .days li {
      display: flex;
      flex-direction: column;
      flex-basis: 13.6%;
      text-align: center;
      padding: 2rem 0;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 0; }
      .calendar-view .days li .dayOfWeek {
        display: none; }
      .calendar-view .days li p {
        font-size: 1.1rem; }
      .calendar-view .days li h4 {
        font-size: 1.2rem;
        padding: 0.5rem 0; }
      .calendar-view .days li h6 {
        font-size: 1.2rem;
        padding-top: 0; }
    .calendar-view .days li:nth-child(odd) {
      background-color: #eee;
      box-shadow: none; }
    .calendar-view .days li:nth-child(even) {
      background-color: #eee;
      box-shadow: none; }
  .calendar-view .toggle-btn {
    display: block;
    padding-bottom: 3rem; } }
.staff {
  padding: 0; }
  .staff .title-heading {
    margin-bottom: 6rem; }
    .staff .title-heading h1 {
      margin: 0.5rem 0 6rem; }
    .staff .title-heading p {
      margin-bottom: 1rem; }

.staff-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem; }
  .staff-grid p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    padding-bottom: 1rem; }

.staff-grid-item {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  padding: 3rem 5rem;
  margin-bottom: 1.56rem;
  text-align: center; }
  .staff-grid-item a {
    text-transform: lowercase;
    font-size: 1.3rem;
    color: rgba(1, 61, 112, 0.9); }
    .staff-grid-item a:hover, .staff-grid-item a:focus, .staff-grid-item a:active {
      color: rgba(0, 88, 137, 0.8); }

.title-heading-staff {
  color: rgba(0, 0, 0, 0.7); }
  .title-heading-staff h3 {
    font-size: 1.4rem; }
  .title-heading-staff h1 {
    font-size: 1.7rem;
    padding-bottom: 1.5rem; }

.faculty {
  margin-bottom: 4rem; }

.responsive-table li {
  border-radius: 0.2rem;
  padding: 1.56rem 1.88rem;
  justify-content: space-between;
  margin-bottom: 1.56rem;
  font-size: 1.1rem;
  display: block; }

.responsive-table .table-header {
  background-color: #005889;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fafafa;
  display: none; }

.responsive-table .table-row:nth-child(odd) {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }

.responsive-table .table-row:nth-child(even) {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); }

.responsive-table .col {
  flex-basis: 100%; }

.responsive-table .col {
  display: flex;
  padding: 0.63rem 0; }

.responsive-table .col:before {
  color: #6c7a89;
  padding-right: 0.63rem;
  content: attr(data-label);
  flex-basis: 50%; }

.fab {
  color: rgba(0, 88, 137, 0.8);
  padding: 0 0.2rem;
  font-size: 2.5rem; }

@media all and (min-width: 700px) {
  .responsive-table .table-header {
    display: flex; }

  .responsive-table li {
    display: flex;
    font-size: 1.3rem; }

  .responsive-table .col-1 {
    flex-basis: 15%;
    justify-content: center; }

  .responsive-table .col-2 {
    flex-basis: 40%;
    justify-content: center; }

  .responsive-table .col-3 {
    flex-basis: 25%;
    justify-content: center; }

  .responsive-table .col-4 {
    flex-basis: 25%;
    justify-content: center; }

  .responsive-table .col:before {
    display: none; } }
footer {
  padding: 2.5rem 0;
  background-color: #aaa;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  position: relative; }

.up {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer; }

.up i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  margin: auto; }

/* End footer */
/* Start animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 242, 2, 0.99); }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 134, 66, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 134, 66, 0); } }
@media screen and (min-width: 700px) {
  .up {
    width: 5rem;
    height: 5rem; } }

/*# sourceMappingURL=styles.css.map */
